<h1>Lisää linkki</h1>

#if($error)
<p style="color:red;"><b>$message</b></p>
#end

<form method="POST" action="/new_link">
    <fieldset>
        Kirjoittaja: <input type="text" name="author" value="$author" id="author" size="15"/>
        <br/>
        Otsikko: <input type="text" name="title" value="$title" id="title" size="15"/>
        <br/> 
        URL: <input type="text" name="url" value="$url" id="url" size="15"/>
        <br/> 
        Kuvaus: <input type="text" name="description" value="$description" id="description" size="15"/>
        <br/> 
        <input name="lisaa" type="submit" value="Lisää" />
    </fieldset>
<form> 
    
<a href="/">Takaisin etusivulle</a><br/>
