
<main role="main" class="container">
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>$searchResult.getTitle()</h1>
        </div>
        <div class="p-2">
            #if($searchResult.isRead())
            <form method="POST" action="/changeReadStatus/$searchResult.getId()">
                <input type="submit" class="btn btn-primary" value="Merkitse Lukemattomaksi" />
            </form>
            #else
            <form method="POST" action="/changeReadStatus/$searchResult.getId()">
                <input type="submit" class="btn btn-success" value="Merkitse Luetuksi" />
            </form>
            #end
        </div>
        <div class="p-2">
            <form method="GET" action="/update/$searchResult.getType().itemTypeToInteger($searchResult.getType())/$searchResult.getId()">
                <input type="submit" class="btn btn-primary" value="Muokkaa" />
            </form>
        </div>
        <div class="p-2">
            <form method="POST" action="/item/delete/$searchResult.getId()">
                <input type="submit" class="btn btn-danger" value="Poista" />
            </form>
        </div>
    </div>
    <p>$searchResult.getInfo()</p>
    <a href="/">Takaisin etusivulle</a><br/>
    <a href="/all">Kaikkien vinkkien lista</a>
</main>

