
<main role="main" class="container">
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>$searchResult.getTitle()</h1>
        </div>
        <div class="p-2">
            #if($searchResult.isRead())
            <form>
                <input type="submit" class="btn btn-primary" value="Merkitse Lukemattomaksi" />
            </form>
            #else
            <form>
                <input type="submit" class="btn btn-success" value="Merkitse Luetuksi" />
            </form>
            #end
        </div>
        <div class="p-2">
            <form method="GET" action="/update_book/$searchResult.getId()">
                <input type="submit" class="btn btn-primary" value="Muokkaa" />
            </form>
        </div>
    </div>
    <p>$searchResult.getInfo()</p>
</main>