<h1>Muokkaa kirjaa</h1>

#if($error)
<p style="color:red;"><b>$message</b></p>
#end

<form method="POST" action="">
    <fieldset>
        Kirjoittaja: <input type="text" value="${author}" name="author" id="author" size="15"/>
        <br/>
        Otsikko: <input type="text" value="${title}" name="title" id="title" size="15"/>
        <br/> 
        ISBN: <input type="text" value="${isbn}" name="isbn" id="isbn" size="15"/>
        <br/>  
        Tagit: <input type="text" value="${tags}" name="tags" id="tags" size="15"/>
        <br/>  
        Kuvaus: <input type="text" value="${description}" name="description" id="description" size="15"/>
        <br/> 
        <input name="muokkaa" type="submit" value="Muokkaa" />
    </fieldset>
<form> 

<a href="/">Takaisin etusivulle</a><br/>