<h1>Muokkaa linkkiä</h1>

#if($error)
<p style="color:red;"><b>$message</b></p>
#end

<form method="POST" action="">
    <fieldset>
        Kirjoittaja: <input type="text" value="$author" name="author" id="author" size="15"/>
        <br/>
        Otsikko: <input type="text" value="$title" name="title" id="title" size="15"/>
        <br/> 
        URL: <input type="text" value="$url" name="url" id="url" size="15"/>
        <br/> 
        Kuvaus: <input type="text" value="$description" name="description" id="description" size="15"/>
        <br/> 
        <input name="muokkaa" type="submit" value="Muokkaa" />
    </fieldset>
<form> 

<a href="/">Takaisin etusivulle</a><br/>
